// CUSTOM INPUT STYLES

.form-control {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.margin {
    margin-top: 8px;
}

.authHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
        gap: 32px;
    }
}

.authLink {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.welcomeWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (min-width: 768px) {
        gap: 12px;
    }
}

.welcomeWrapper h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #213F7D;

    @media (min-width: 1024px) {
        font-size: 36px;
        line-height: 44px;
    }
}

.welcomeWrapper p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #475467;
}

.form1 {
    display: flex;
    gap: 16px;
}

.formBtn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.authFooter {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.authFooter p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #475467;
}